@{
    ViewData["Title"] = "Home Page";
}
<div class="home" >
<section class="w3l-hero-headers-9" id="home">
    <div class="slide text-center header11" data-selector="header11">
        <div class="container">
            <div class="banner-text ">  
                <h5   class=" ">Only taste is <br>real for food</h5>
                <p class=" "> Elegant style of catering for your style and budget. Any kind of event from weddings to birthdays. Order us, and book your service</p>
                    <a  class="btn logo-button top-margin" asp-area="" asp-controller="Home" asp-action="Privacy">View Our Menu</a>
               
            </div>
        </div> 

    </div>
</section>
 

<section class="w3l-specification-6">
    <div class="specification-layout ">  
        <div class="container">
            <div class="main-titles-head ">
                    <h3 style ="color:white;margin-top:200px;" class="header-name ">
                    Our Special Feature
                </h3>
                <p class="tiltle-para  ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic fuga sit illo modi aut aspernatur tempore laboriosam saepe dolores eveniet.</p>
            </div>
            <div class="call-grids-w3 d-grid">
                <div class="grids-1  grids-effect-2">
                    <span class="fa fa-beer"></span>
                    <h4><a href="#feature" class="title-head">Well Decorated</a></h4>
                    <p class="para">Vivamus a ligula quam. Duis feugiat tortor sed Ut blandit. Duis feugiat tortor sed.</p>
                </div>
                <div class="grids-1  grids-effect-2">
                    <div class="color-white">
                        <span class="fa fa-cutlery"></span>
                        <h4><a href="#page" class=" title-head">Breakfast</a></h4>
                        <p class="para">Vivamus a ligula quam. Duis feugiat tortor sed  Ut blandit. Duis feugiat tortor sed.</p>
                    </div>
                </div>
                <div class="grids-1 grids-effect-2">
                    <span class="fa fa-handshake-o"></span>
                    <h4><a href="#feature" class="title-head">Expert Chef</a></h4>
                    <p class="para">Vivamus a ligula quam. Duis feugiat tortor sed  Ut blandit. Duis feugiat tortor sed.</p>
                </div>
                <div class="grids-1  grids-effect-2">
                    <div class="color-white">
                        <span class="fa fa-spoon"></span>
                        <h4><a href="#page" class=" title-head">Lunch</a></h4>
                        <p class="para">Vivamus a ligula quam. Duis feugiat tortor sed  Ut blandit. Duis feugiat tortor sed.</p>
                    </div>
                </div>
                <div class="grids-1 grids-effect-2">
                    <span class="fa fa-smile-o"></span>
                    <h4><a href="#feature" class="title-head">Quick Serve</a></h4>
                    <p class="para">Vivamus a ligula quam. Duis feugiat tortor sed Ut blandit. Duis feugiat tortor sed.</p>
                </div> 

                <div class="grids-1  grids-effect-2">
                    <div class="color-white">
                        <span class="fa fa-apple"></span>
                        <h4><a href="#page" class=" title-head">Dinner</a></h4>
                        <p class="para">Vivamus a ligula quam. Duis feugiat tortor sed  Ut blandit. Duis feugiat tortor sed.</p>
                    </div>
                </div>
                <div class="grids-1 grids-effect-2">
                    <span class="fa fa-diamond"></span>
                    <h4><a href="#feature" class="title-head title-head">Delicious Food</a></h4>
                    <p class="para">Vivamus a ligula quam. Duis feugiat tortor sed  Ut blandit. Duis feugiat tortor sed.</p>
                </div>
                <div class="grids-1  grids-effect-2">
                    <div class="color-white">
                        <span class="fa fa-thumbs-o-up"></span>
                        <h4><a href="#page" class=" title-head">Desert</a></h4>
                        <p class="para">Vivamus a ligula quam. Duis feugiat tortor sed  Ut blandit. Duis feugiat tortor sed.</p>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</section>



   </div>