@{
    ViewData["Title"] = "Privacy Policy";
}
<section class="w3l-covers-18">
    <div class="covers-main ">
        <div class="container">
            <div class="main-titles-head ">
                <h3 class="header-name "style ="color:white;padding-bottom:20px;padding-top:80px;">
                    Discover Our Menu
                </h3>
                <p class="tiltle-para  ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic fuga sit illo modi aut aspernatur tempore laboriosam saepe dolores eveniet.</p>
            </div>
            <div class="gallery-image row">
                <div class="img-box col-lg-4 col-md-6 col-sm-6">
                    <img src="~/images/bicat2.jpg" alt="product" class="img-responsive ">
                    <h5 class="my-2"><a  style ="color:white;" href="about.html">Birth Day</a></h5>
                    <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet itaque labor.</p>
                </div>
                <div class="img-box col-lg-4 col-md-6 col-sm-6">
                    <img src="~/images/bicat1.jpg" alt="product" class="img-responsive ">
                    <h5 class="my-2"><a  style ="color:white;" href="about.html">Birth Day</a></h5>
                    <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet itaque labor.</p>
                </div>
                <div class="img-box col-lg-4 col-md-6 col-sm-6">
                    <img src="~/images/catering1.jpg" alt="product" class="img-responsive ">
                    <h5 class="my-2"><a  style ="color:white;" href="about.html">Graduation</a></h5>
                    <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet itaque labor.</p>
                </div>
                <div class="img-box col-lg-4 col-md-6 col-sm-6">
                    <img src="~/images/wedcat3.jpg" alt="product" class="img-responsive ">
                    <h5 class="my-2"><a  style ="color:white;" href="about.html">Weeding</a></h5>
                    <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet itaque labor.</p>
                </div>
                <div class="img-box col-lg-4 col-md-6 col-sm-6">
                   <img src="~/images/cate4.jpg" alt="product" class="img-responsive ">
                    <h5 class="my-2"><a  style ="color:white;" href="about.html">Weeding </a></h5>
                    <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet itaque labor.</p>
                </div>
                <div class="img-box col-lg-4 col-md-6 col-sm-6">
                    <img src="~/images/wedcat4.jpg" alt="product" class="img-responsive ">
                    <h5 class="my-2"><a  style ="color:white;" href="about.html">Meeting</a></h5> 
                    <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet itaque labor.</p>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>